---
---

body {
  font-size: 100%;
  // font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  // font-family: 'adam-cg-pro','Roboto', Helvetica, sans-serif;
  font-family: "coves-light", Consolas, "Liberation mono", Courier, monospace;
  letter-spacing: 1px;
  line-height: 1.7;
  text-align: justify;
  color: #001c00;
}

.main {
  max-width: 700px;
  margin: 50px auto 50px;
}

hr {
  margin: 25px auto 25px;
}

/* Header styling */

h1, h2, h3, h4, h5, h6 {
  font-family: "coves-bold", Helvetica, Consolas, "Liberation mono", Courier, monospace;
  text-align: left;
}

/* Hyperlink styling */

a:link {
	color: #9eb9a7;
	text-decoration: underline;
}

a:visited {
	color: #9eb9a7;
}

a:hover {
	color: #fff;
	background-color: #9eb9a7;
	text-decoration: none;
}

/* Fonts */

@font-face {
  font-family: "coves-bold";
  src: url('../assets/fonts/CovesBold.otf') format("opentype");
}
@font-face {
  font-family: "coves-light";
  src: url('../assets/fonts/CovesLight.otf') format("opentype");
}
